.header-container {
  display: flex;
}

.logo-name-container {
  align-items: center;
  display: flex;
}

.logo-name-container {
  align-items: center;
  display: flex;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #582d41;
  border-radius:0;
  z-index: 500;

}

.navbar-inverse .navbar-toggle {
  border-color: white;
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.nav-container a{
  text-decoration: none;
  color: #e6dddd;
  padding: 0 8px;
}

.nav-container a:hover{
  border-bottom: 2px solid #e6dddd
}

.element {
  margin: 0 10px 0 10px;
}

@media only screen and (max-width: 767px) {
  .navbar-collapse{
    background: rgb(88, 45, 65);
  }
}

@media only screen and (min-width: 760px) {
  header {
    padding: 20px 50px;
  }


  .logo-name-container {
    align-items: center;
    display: flex;
    width: 30%;
  }
  .nav-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    text-align: center;
    width: 70%;
  }
  .element {
    margin: 20px;
  }
  .nav-container {
    font-size: 25px;
  }
  #articles-section article{
    width: 90%;
    margin: 10px auto !important;
  }
  form {
    width: 40%;
    margin: 0 auto !important;
  }
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
.carousel-caption {
  font-size: 26px;
  bottom: 4em;
}

#heading-text {
  background: #582d41;
  padding: 10px;
  margin-top: 10px;
  -webkit-clip-path: polygon(15% 18%, 50% 0, 80% 15%, 100% 0, 100% 100%, 0 100%, 0 52%, 0 0);
  clip-path: polygon(15% 18%, 50% 0, 80% 15%, 100% 0, 100% 100%, 0 100%, 0 52%, 0 0);
}

#heading-text>h1,#heading-text>h2{
  color: white;
}

.bold-text {
  font-weight: bold;
}

h1,h2 {
  color: #2f4f4f;
  padding: 5px 0;
}

.main-text {
  font-size: 18px;
  text-align: center;
}
.main-text p {
  padding-top: 100px;
}

.main div {
  margin: 0 auto !important;
}

.heading {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid #8c1018;
}

#articles-section {
  margin: 0 auto !important;
}

#articles-section main {
  padding: 10px;
}

#articles-section h4 {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}

#articles-section p {
  font-size: 18px;
}

#articles-section time {
  font-style: italic;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

article {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 20px;
}
label {
  font-size: 16px;
  padding: 5px 0;
}

.button {
  padding: 5px 10px;
  border: 1px solid #8c1018;
  font-weight: bold;
  color: #8c1018;
  background-color: white;
}

.button:hover{
  color: white;
  background: #8c1018;
  transition: all .2s ease-in-out;
}
.button-div {
  padding: 10px;
  text-align: center;
}

.container {
  margin: 0 auto !important;
}

.text-center p{
  font-size: 17px;
}
