.header-container {
  display: flex;
}

.logo-name-container {
  align-items: center;
  display: flex;
}

.logo {
  width: 80px;
}

.logo-name-container {
  align-items: center;
  display: flex;
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.element {
  margin: 0 10px 0 10px;
}

@media only screen and (min-width: 760px) {
  header {
    padding: 20px 50px;
  }
  .logo {
    margin-right: 10px;
    width: 80px;
  }
  .logo-name-container {
    align-items: center;
    display: flex;
    width: 30%;
  }
  .nav-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    text-align: center;
    width: 70%;
  }
  .element {
    margin: 20px;
  }
  .nav-container {
    font-size: 30px;
  }
}
