.col-sm-6 {
    text-align: justify;
    margin-bottom: 2em;
}

.card-text {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 18px;

}

.btn-primary {
    background-color: #582D41;
    color: white;
    border: none;
    font-size: 17px;
}

.carousel-caption {
    background-color: #582D41;
    border-radius: 20px;
}