/* entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    /* margin-bottom: 30px; */
}

.card-row {
    padding-bottom: 20px;
}

.card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    width: 100%;
    height: 400px;
    padding: 10px 20px 20px;

}
