/* entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    /* margin-bottom: 30px; */
}

.card-row {
    padding-bottom: 20px;
}

.card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    width: 100%;
    height: 400px;
    padding: 10px 20px 20px;

}

.card-img-top {
    width: 266px;
}

.social-card-header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}

.social-card-header i {
    font-size: 32px;
    color: #FFF;
}

.bg-facebook {
    background-color: #3b5998;
}

.text-facebook {
    color: #3b5998;
}

.bg-google-plus {
    background-color: #dd4b39;
}

.text-google-plus {
    color: #dd4b39;
}

.bg-twitter {
    background-color: #1da1f2;
}

.text-twitter {
    color: #1da1f2;
}

.bg-pinterest {
    background-color: #bd081c;
}

.text-pinterest {
    color: #bd081c;
}

.share:hover {
    text-decoration: none;
    opacity: 0.8;
}