.footer-wrapper {
  background: #582e41;
}

.text-uppercase {
  color: #fff;
  text-transform: uppercase;
}

.text-uppercase-p {
  color: #fff;
}

ul li a {
  color: #fff;
}

.footer-copyright {
  color: white;
  padding-bottom: 1.5em;
}

.form-control {
  height: 3em;
}
