
.footer-wrapper{
  background: #582e41;
  border-top: 25px;

}

.text-uppercase{
  color: #fff;
  text-transform: uppercase;
}

.text-uppercase-p{
  border: auto;
  color: #fff;
}


ul  li a{
  border: auto;
  color: #fff;
}


.footer-copyright{
  color: white;
}