@font-face {
    font-family: 'News Cycle';
    src: url('../fonts/news_cycle.ttf') format('truetype');
}

@font-face {
    font-family: 'Contrail One';
    src: url('../fonts/contrail_one.ttf') format('truetype');
}

@media not print {
    body {
        color: #635959;
        padding: 0;
    }

    header {
        background-color: #582D41;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        color: #01FFFF;
    }

    header h2 {
        color: #FF9A56;
    }

    h3, article h4 {
        color: #8c1018;
    }

    article a {
        color: #314052
    }

    main > h3 {
        font-size: 2em;
    }

}

/* Reset && Normalize client style */
* {
    padding: 0;
}

body {
    font-family: 'News Cycle' !important;
}

header a {
    font-size: 4em;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav a {
  float: right;
  text-align: center;
  font-size: 15px;
}

.nav a {
    color: #eeecec;
    text-decoration: none;
    font-weight: 600;
}

.nav a:hover {
    color: #eee6;
}

header section {
    padding-top: 8rem;
}

.carousel-inner {
    text-align: center;
}

.carousel .item > img {
    display: inline-block;
    z-index: 200;
    width: 100vw;
}


main {
    padding: 5px 10px;
}

main figure > figcaption {
    font-size: 0.75em;
    font-style: italic;
}

main figure > figcaption::before {
    content: 'Pictured above:';
    font-weight: bold;
}

article > time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}