@font-face {
    font-family: 'News Cycle';
    src: url('../fonts/news_cycle.ttf') format('truetype');
}

@font-face {
    font-family: 'Contrail One';
    src: url('../fonts/contrail_one.ttf') format('truetype');
}

@media not print {
    body {
        color: #635959;
        padding: 0;
    }

    header {
        background-color: #582D41;
        display: flex;
    }

    header h1 {
        color: #01FFFF;
    }

    header h2 {
        color: #FF9A56;
    }

    h3, article h4 {
        color: #8c1018;
    }

    article a {
        color: #314052
    }

    main > h3 {
        font-size: 2em;
    }

}

/* Reset && Normalize client style */
* {
    margin: 0 !important;
    padding: 0;
}

body {
    font-family: 'News Cycle';
}

.header-container {
    display: flex;
  }
  
  .logo-name-container {
    align-items: center;
    display: flex;
  }
  
  .logo {
    width: 80px;
  }
  
  .logo-name-container {
    align-items: center;
    display: flex;
  }
  
  .nav-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: center;
  }
  
  .nav-container a{
    text-decoration: none;
    color: #e6dddd;
    padding: 0 8px;
  }
  
  .nav-container a:hover{
    color:#fff
  }

.topnav {
    background-color: transparent;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #fff;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}


@media screen and (max-width: 600px) {

.topnav a:not(:first-child) {
    display: none;
}
.topnav a.icon {
    float: right;
    display: block;
    font-size: 25px;
}

.topnav.responsive {
    position: relative;
}
.topnav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
}
.topnav.responsive a:first-child{
    text-align: right;
}
}

@media screen and (min-width: 760px){
    .logo {
        margin-right: 10px;
        width: 70px;
    }
    header {
        padding: 20px 50px;
    }
    #articles-section article{
        width: 90%;
        margin: 10px auto !important;
    }
    form {
        width: 40%;
        margin: 0 auto !important;
    }
}

  .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
  .carousel-caption {
    font-size: 18px;
    font-weight: bold;
  }
  
  #heading-text {
    padding: 10px;
    margin-top: 10px;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  h1,h2 {
    color: #2f4f4f;
    padding: 5px 0;
  }
  
  .main-text {
    font-size: 18px;
    text-align: center;
  }
  
  .main div {
    margin: 0 auto !important;
  }
  
  .heading {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #8c1018;
  }
  
  #articles-section {
    margin: 0 auto !important;
  }
  
  #articles-section main {
    padding: 10px;
  }
  
  #articles-section h4 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
  }
  
  #articles-section p {
    font-size: 18px;
  }
  
  #articles-section time {
    font-style: italic;
    color: grey;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
  }
  
  article {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
  }
  label {
    font-size: 16px;
    padding: 5px 0;
  }
  
  .button {
    padding: 5px 10px;
    border: 1px solid #8c1018;
    font-weight: bold;
    color: #8c1018;
    background-color: white;
  }
  .button-div {
    padding: 10px;
    text-align: center;
  }
  
  .container {
    margin: 0 auto !important;
  }

